<header
  class="scroll"
  x-data="
    {

        is_menu_opened: false,
        is_theme_dark: true,

        init() {

            /* Theme functionality */
            // Get the theme from device preferences
            const prefers_dark = window.matchMedia('(prefers-color-scheme: dark)').matches;

            if(prefers_dark && localStorage.getItem('theme') !== 'light') {
                document.documentElement.classList.add('dark');
                this.is_theme_dark = true;
            } else {
                this.is_theme_dark = false;
            }
        },

        toggleTheme() {
            this.is_theme_dark = !this.is_theme_dark;

            if (this.is_theme_dark) {
                document.documentElement.classList.add('dark');
                localStorage.setItem('theme', 'dark');
            } else {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('theme', 'light');
            }
        }
    }
  "
>
  <div class="section-container">
    <div class="logo">
      <!-- <img src="./assets/svg/rt-logo.svg" alt=""> -->
      <a href="/">
        <svg width="128" height="41" viewBox="0 0 128 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="rt-logo">
              <g id="house-icon">
                  <g id="dark">
                      <path id="house-frame" fill-rule="evenodd" clip-rule="evenodd"
                          d="M17.8767 4.87351C18.7632 4.16433 19.8647 3.77797 21 3.77797C22.1353 3.77797 23.2368 4.16433 24.1233 4.87351L24.1233 4.87353L35.9999 14.3736V38.0926H5.99993V14.3737L17.8766 4.87353L17.8767 4.87351ZM3.99993 15.9735L1.62465 17.8735C1.19337 18.2185 0.564077 18.1485 0.219093 17.7173C-0.12589 17.286 -0.0559312 16.6567 0.375351 16.3117L16.6273 3.31173C17.8685 2.31888 19.4106 1.77797 21 1.77797C22.5894 1.77797 24.1315 2.31888 25.3727 3.31173L41.6246 16.3117C42.0559 16.6567 42.1259 17.286 41.7809 17.7173C41.4359 18.1485 40.8066 18.2185 40.3753 17.8735L37.9999 15.9734V38.0926H41C41.5523 38.0926 42 38.5403 42 39.0926C42 39.6449 41.5523 40.0926 41 40.0926H36.9999H4.99993H1C0.447715 40.0926 -2.91097e-07 39.6449 -2.91097e-07 39.0926C-2.91097e-07 38.5403 0.447715 38.0926 1 38.0926H3.99993V15.9735Z"
                          fill="black" />
                  </g>
                  <g id="light">
                      <path id="dude" opacity="0.5" fill-rule="evenodd" clip-rule="evenodd"
                          d="M21 11.0926C20.2043 11.0926 19.4413 11.4086 18.8787 11.9713C18.316 12.5339 18 13.2969 18 14.0926C18 14.8882 18.316 15.6513 18.8787 16.2139C19.4413 16.7765 20.2043 17.0926 21 17.0926C21.7956 17.0926 22.5587 16.7765 23.1213 16.2139C23.6839 15.6513 24 14.8882 24 14.0926C24 13.2969 23.6839 12.5339 23.1213 11.9713C22.5587 11.4086 21.7956 11.0926 21 11.0926ZM17.4644 10.557C18.4021 9.61936 19.6739 9.09258 21 9.09258C22.3261 9.09258 23.5978 9.61936 24.5355 10.557C25.4732 11.4947 26 12.7665 26 14.0926C26 15.4187 25.4732 16.6904 24.5355 17.6281C23.5978 18.5658 22.3261 19.0926 21 19.0926C19.6739 19.0926 18.4021 18.5658 17.4644 17.6281C16.5268 16.6904 16 15.4187 16 14.0926C16 12.7665 16.5268 11.4947 17.4644 10.557ZM20.9293 22.0926H21.0707C22.4255 22.0925 23.5425 22.0925 24.4262 22.2115C25.3535 22.3364 26.1726 22.6087 26.8275 23.2659C27.4839 23.9214 27.7561 24.7405 27.881 25.6678C28 26.5515 28 27.6681 28 29.0219L28 39.0926H26V29.0926C26 27.6502 25.9978 26.6693 25.8989 25.9348C25.8039 25.2292 25.6364 24.9027 25.4137 24.6805L25.4113 24.6781C25.1903 24.4561 24.8649 24.2887 24.1592 24.1936C23.4248 24.0947 22.4433 24.0926 21 24.0926C19.5577 24.0926 18.5767 24.0947 17.8422 24.1936C17.1366 24.2886 16.8101 24.4561 16.5879 24.6789L16.5855 24.6813C16.3635 24.9022 16.1961 25.2276 16.101 25.9333C16.0021 26.6678 16 27.6492 16 29.0926V39.0926H14L14 29.0218C13.9999 27.6671 13.9999 26.55 14.1189 25.6663C14.2438 24.7391 14.5161 23.9199 15.1733 23.2651C15.8288 22.6087 16.6479 22.3364 17.5752 22.2115C18.4589 22.0925 19.5755 22.0925 20.9293 22.0926Z"
                          fill="black" />
                      <path id="chimney" opacity="0.5" fill-rule="evenodd" clip-rule="evenodd"
                          d="M27.5859 0.678407C27.9609 0.303334 28.4697 0.0926208 29.0001 0.0926208H34.0001C34.5305 0.0926208 35.0392 0.303334 35.4143 0.678407C35.7894 1.05348 36.0001 1.56219 36.0001 2.09262V12.0926C36.0001 12.6449 35.5524 13.0926 35.0001 13.0926C34.4478 13.0926 34.0001 12.6449 34.0001 12.0926L34.0001 2.09262H29.0001L29.0001 6.09262C29.0001 6.6449 28.5524 7.09262 28.0001 7.09262C27.4478 7.09262 27.0001 6.6449 27.0001 6.09262V2.09262C27.0001 1.56219 27.2108 1.05348 27.5859 0.678407Z"
                          fill="black" />
                  </g>
              </g>
              <g id="real">
                  <path id="Vector"
                      d="M67.1675 0V10.0546C67.1675 10.4621 67.2499 10.7385 67.4148 10.884C67.5894 11.0295 67.8756 11.1023 68.2733 11.1023V11.4079C68.1084 11.3982 67.8562 11.3885 67.5167 11.3788C67.1869 11.3594 66.8522 11.3497 66.5127 11.3497C66.1829 11.3497 65.8482 11.3594 65.5087 11.3788C65.1691 11.3885 64.9169 11.3982 64.752 11.4079V11.1023C65.1497 11.1023 65.4311 11.0295 65.596 10.884C65.7706 10.7385 65.8579 10.4621 65.8579 10.0546V1.7461C65.8579 1.30958 65.7803 0.989458 65.6251 0.785747C65.4699 0.572334 65.1788 0.465627 64.752 0.465627V0.160059C65.0624 0.189161 65.3632 0.203712 65.6542 0.203712C65.9355 0.203712 66.2023 0.189161 66.4545 0.160059C66.7164 0.121257 66.9541 0.0679043 67.1675 0Z"
                      fill="#808080" />
                  <path id="Vector_2"
                      d="M59.673 11.5097C59.2753 11.5097 58.9309 11.437 58.6399 11.2914C58.3489 11.1362 58.1258 10.9228 57.9706 10.6512C57.8251 10.3796 57.7523 10.0643 57.7523 9.7054C57.7523 9.27858 57.8493 8.92936 58.0433 8.65774C58.2471 8.38613 58.5041 8.16786 58.8145 8.00295C59.125 7.83804 59.4499 7.70223 59.7894 7.59553C60.1387 7.47912 60.4685 7.37241 60.7789 7.27541C61.0893 7.1687 61.3415 7.04745 61.5356 6.91164C61.7393 6.77583 61.8411 6.59637 61.8411 6.37326V5.4711C61.8411 5.06368 61.7781 4.75326 61.652 4.53985C61.5355 4.32644 61.3755 4.18578 61.1718 4.11787C60.9681 4.04027 60.7401 4.00147 60.4879 4.00147C60.2454 4.00147 59.9835 4.03542 59.7021 4.10332C59.4305 4.17123 59.2123 4.31188 59.0474 4.5253C59.2317 4.5641 59.3917 4.66111 59.5275 4.81632C59.6633 4.97152 59.7312 5.17039 59.7312 5.4129C59.7312 5.65541 59.6536 5.84943 59.4984 5.99493C59.3432 6.13074 59.1444 6.19865 58.9018 6.19865C58.6205 6.19865 58.412 6.11134 58.2762 5.93673C58.15 5.75242 58.087 5.54871 58.087 5.32559C58.087 5.07338 58.15 4.86967 58.2762 4.71446C58.4023 4.55925 58.5623 4.41374 58.7563 4.27793C58.9794 4.12272 59.2656 3.99177 59.6148 3.88506C59.9738 3.76865 60.3763 3.71045 60.8226 3.71045C61.2203 3.71045 61.5598 3.75895 61.8411 3.85596C62.1224 3.94326 62.3552 4.07422 62.5396 4.24883C62.7918 4.48164 62.9567 4.76781 63.0343 5.10733C63.1119 5.43715 63.1507 5.83487 63.1507 6.3005V10.3456C63.1507 10.5882 63.1846 10.7628 63.2525 10.8695C63.3302 10.9762 63.4466 11.0295 63.6018 11.0295C63.7085 11.0295 63.8103 11.0053 63.9073 10.9568C64.0043 10.9083 64.1208 10.8307 64.2566 10.724L64.4166 10.9713C64.2129 11.1265 64.0189 11.2575 63.8346 11.3642C63.6503 11.4612 63.4029 11.5097 63.0925 11.5097C62.8112 11.5097 62.5784 11.4612 62.394 11.3642C62.2097 11.2672 62.0691 11.1265 61.9721 10.9422C61.8848 10.7482 61.8411 10.5057 61.8411 10.2147C61.5792 10.6512 61.2639 10.9762 60.8953 11.1896C60.5364 11.403 60.129 11.5097 59.673 11.5097ZM60.1969 10.9277C60.517 10.9277 60.8129 10.8355 61.0845 10.6512C61.3658 10.4669 61.618 10.1904 61.8411 9.82181V6.96984C61.7247 7.13475 61.555 7.27541 61.3318 7.39182C61.1087 7.49852 60.8662 7.61008 60.6043 7.72649C60.3424 7.83319 60.0902 7.96415 59.8477 8.11936C59.6148 8.26487 59.4208 8.45888 59.2656 8.70139C59.1104 8.94391 59.0328 9.25918 59.0328 9.6472C59.0328 10.0352 59.1347 10.3456 59.3384 10.5785C59.5518 10.8113 59.838 10.9277 60.1969 10.9277Z"
                      fill="#808080" />
                  <path id="Vector_3"
                      d="M53.782 3.71045C54.6356 3.71045 55.3001 3.97236 55.7754 4.4962C56.2605 5.01033 56.503 5.81547 56.503 6.91164H51.3665L51.352 6.63517H55.1061C55.1255 6.15984 55.0867 5.72332 54.9897 5.32559C54.8927 4.91817 54.7375 4.5932 54.5241 4.35069C54.3204 4.10817 54.0536 3.98692 53.7238 3.98692C53.2775 3.98692 52.8798 4.21003 52.5306 4.65626C52.1911 5.10248 51.9874 5.81062 51.9195 6.78068L51.9631 6.83888C51.9437 6.98439 51.9292 7.14445 51.9195 7.31906C51.9098 7.49367 51.9049 7.66828 51.9049 7.84289C51.9049 8.50253 52.0116 9.07001 52.225 9.54534C52.4384 10.0207 52.7149 10.3844 53.0544 10.6367C53.4036 10.8792 53.7626 11.0004 54.1312 11.0004C54.4222 11.0004 54.6987 10.9568 54.9606 10.8695C55.2225 10.7725 55.465 10.6173 55.6881 10.4038C55.9112 10.1904 56.1053 9.90426 56.2702 9.54534L56.5612 9.66175C56.4545 9.98187 56.2799 10.2923 56.0374 10.593C55.7948 10.8937 55.4893 11.1411 55.1206 11.3351C54.752 11.5194 54.3252 11.6116 53.8402 11.6116C53.1417 11.6116 52.5403 11.4515 52.0359 11.1314C51.5411 10.8113 51.158 10.3699 50.8864 9.80726C50.6244 9.23492 50.4935 8.58014 50.4935 7.84289C50.4935 6.98924 50.6293 6.25685 50.9009 5.64571C51.1725 5.02488 51.5557 4.54955 52.0504 4.21973C52.5451 3.88021 53.1223 3.71045 53.782 3.71045Z"
                      fill="#808080" />
                  <path id="Vector_4"
                      d="M41 1.10585C41.2037 1.11555 41.4705 1.12525 41.8003 1.13495C42.1301 1.14465 42.4551 1.1495 42.7752 1.1495C43.2311 1.1495 43.6677 1.14465 44.0848 1.13495C44.5019 1.12525 44.7978 1.1204 44.9724 1.1204C45.7581 1.1204 46.4081 1.23196 46.9222 1.45507C47.446 1.67818 47.8341 1.98375 48.0863 2.37177C48.3482 2.7501 48.4791 3.17692 48.4791 3.65225C48.4791 3.94327 48.4209 4.25369 48.3045 4.5835C48.1881 4.91332 47.9844 5.22374 47.6934 5.51476C47.4121 5.80578 47.0241 6.04829 46.5293 6.2423C46.0346 6.42661 45.4089 6.51877 44.6523 6.51877H43.2554V6.22775H44.5068C45.1955 6.22775 45.7193 6.12105 46.0782 5.90763C46.4469 5.68452 46.6942 5.3935 46.8203 5.03458C46.9561 4.66596 47.0241 4.25854 47.0241 3.81231C47.0241 3.04596 46.8397 2.45423 46.4711 2.0371C46.1122 1.61028 45.4914 1.39687 44.6086 1.39687C44.1624 1.39687 43.8714 1.47932 43.7356 1.64423C43.5998 1.80914 43.5318 2.14381 43.5318 2.64824V9.86546C43.5318 10.2147 43.561 10.4766 43.6192 10.6512C43.6774 10.8258 43.7889 10.9422 43.9538 11.0004C44.1284 11.0586 44.3806 11.0974 44.7105 11.1168V11.4079C44.4874 11.3885 44.206 11.3788 43.8665 11.3788C43.5367 11.3691 43.202 11.3642 42.8625 11.3642C42.4842 11.3642 42.1301 11.3691 41.8003 11.3788C41.4705 11.3788 41.2037 11.3885 41 11.4079V11.1168C41.3298 11.0974 41.5772 11.0586 41.7421 11.0004C41.9167 10.9422 42.0331 10.8258 42.0913 10.6512C42.1495 10.4766 42.1786 10.2147 42.1786 9.86546V2.64824C42.1786 2.28932 42.1495 2.0274 42.0913 1.86249C42.0331 1.68788 41.9167 1.57148 41.7421 1.51327C41.5772 1.44537 41.3298 1.40657 41 1.39687V1.10585ZM43.3136 6.2714C43.8374 6.29081 44.2497 6.31506 44.5504 6.34416C44.8511 6.36356 45.0936 6.38296 45.278 6.40236C45.472 6.42176 45.6563 6.44601 45.8309 6.47512C46.4808 6.58182 46.9464 6.78068 47.2278 7.0717C47.5188 7.35302 47.7322 7.79439 47.868 8.39583L48.2318 9.88002C48.3288 10.3068 48.4258 10.6173 48.5228 10.8113C48.6295 10.9956 48.7896 11.0829 49.003 11.0732C49.1679 11.0635 49.3037 11.0101 49.4104 10.9131C49.5268 10.8161 49.6481 10.6852 49.7742 10.5203L49.9924 10.6803C49.7887 10.981 49.5753 11.2138 49.3522 11.3788C49.1388 11.534 48.8332 11.6116 48.4355 11.6116C48.0766 11.6116 47.7613 11.5049 47.4897 11.2914C47.2181 11.078 47.0144 10.6609 46.8785 10.0401L46.5584 8.58499C46.4711 8.16787 46.3693 7.80894 46.2529 7.50823C46.1462 7.19781 45.9909 6.95529 45.7872 6.78068C45.5932 6.60607 45.3022 6.51877 44.9142 6.51877H43.3427L43.3136 6.2714Z"
                      fill="#808080" />
              </g>
              <g id="trust">
                  <path id="Vector_5"
                      d="M124.69 16.7933V22.209H127.967V22.8776H124.69V36.7513C124.69 37.1747 124.768 37.4867 124.924 37.6873C125.08 37.8656 125.337 37.9547 125.693 37.9547C125.938 37.9547 126.228 37.8879 126.562 37.7542C126.897 37.5982 127.209 37.3419 127.499 36.9853L128 37.3864C127.532 38.1888 126.908 38.8351 126.128 39.3254C125.37 39.7934 124.412 40.0274 123.253 40.0274C122.517 40.0274 121.849 39.9271 121.247 39.7266C120.668 39.5483 120.188 39.2697 119.81 38.8908C119.319 38.4005 119.007 37.7987 118.873 37.0856C118.74 36.3501 118.673 35.4029 118.673 34.244V22.8776H116.132V22.209H118.673V18.2642C119.854 18.2642 120.924 18.1528 121.882 17.9299C122.863 17.6847 123.799 17.3059 124.69 16.7933Z"
                      fill="black" />
                  <path id="Vector_6"
                      d="M108.22 21.741C109.2 21.741 110.059 21.8524 110.794 22.0753C111.552 22.2759 112.098 22.4653 112.432 22.6436C113.212 23.1116 113.691 22.8219 113.87 21.7744H114.538C114.494 22.4207 114.46 23.2119 114.438 24.148C114.416 25.0617 114.404 26.2764 114.404 27.7919H113.736C113.647 26.9673 113.446 26.1538 113.134 25.3515C112.844 24.5491 112.41 23.8805 111.83 23.3456C111.273 22.8108 110.538 22.5433 109.624 22.5433C109.067 22.5433 108.599 22.7105 108.22 23.0448C107.841 23.3791 107.652 23.836 107.652 24.4154C107.652 25.084 107.852 25.6858 108.253 26.2207C108.654 26.7333 109.167 27.2347 109.791 27.725C110.415 28.1931 111.039 28.6945 111.663 29.2294C112.354 29.7866 112.967 30.3326 113.502 30.8675C114.037 31.4024 114.46 31.993 114.772 32.6393C115.107 33.2634 115.274 34.01 115.274 34.8792C115.274 35.8821 114.962 36.7736 114.338 37.5536C113.736 38.3336 112.922 38.9465 111.897 39.3923C110.894 39.8157 109.769 40.0275 108.521 40.0275C107.741 40.0275 107.061 39.9383 106.481 39.76C105.902 39.604 105.434 39.4146 105.077 39.1917C104.721 39.0134 104.409 38.8797 104.141 38.7905C103.896 38.6791 103.651 38.6234 103.406 38.6234C103.183 38.6234 102.994 38.7459 102.838 38.9911C102.682 39.214 102.559 39.4814 102.47 39.7934H101.801C101.846 39.0803 101.879 38.2111 101.901 37.1859C101.924 36.1607 101.935 34.8012 101.935 33.1073H102.604C102.737 34.2886 102.994 35.336 103.372 36.2498C103.774 37.1636 104.275 37.8879 104.877 38.4228C105.501 38.9354 106.214 39.1917 107.016 39.1917C107.373 39.1917 107.696 39.1248 107.986 38.9911C108.276 38.8574 108.51 38.6568 108.688 38.3894C108.866 38.1219 108.955 37.7765 108.955 37.353C108.955 36.3724 108.654 35.5478 108.053 34.8792C107.473 34.2105 106.738 33.4751 105.846 32.6727C105.178 32.0487 104.542 31.447 103.941 30.8675C103.361 30.2658 102.882 29.6194 102.503 28.9285C102.124 28.2154 101.935 27.4242 101.935 26.555C101.935 25.5521 102.225 24.694 102.804 23.9808C103.406 23.2676 104.186 22.7216 105.144 22.3427C106.103 21.9416 107.128 21.741 108.22 21.741Z"
                      fill="black" />
                  <path id="Vector_7"
                      d="M98.0211 21.8413V35.9156C98.0211 36.9185 98.1549 37.6651 98.4223 38.1554C98.712 38.6234 99.2023 38.8574 99.8932 38.8574V39.5595C99.2023 39.4926 98.5114 39.4592 97.8206 39.4592C96.7062 39.4592 95.6699 39.4926 94.7115 39.5595C93.7532 39.6263 92.8506 39.7489 92.0036 39.9272V37.5202C91.4688 38.4117 90.7444 39.058 89.8307 39.4592C88.9392 39.8381 87.8917 40.0275 86.6882 40.0275C85.663 40.0275 84.8495 39.8938 84.2478 39.6263C83.6683 39.3812 83.2226 39.0692 82.9106 38.6903C82.5763 38.2891 82.3311 37.7542 82.1751 37.0856C82.0191 36.417 81.9411 35.5144 81.9411 34.3778V25.853C81.9411 24.8501 81.8074 24.1146 81.5399 23.6466C81.2725 23.1563 80.7822 22.9111 80.069 22.9111V22.2091C80.7822 22.2759 81.4731 22.3094 82.1417 22.3094C83.256 22.3094 84.2924 22.2759 85.2507 22.2091C86.2313 22.1199 87.1339 21.9973 87.9586 21.8413V36.183C87.9586 36.651 88.0143 37.041 88.1257 37.3531C88.2371 37.6651 88.4154 37.8991 88.6606 38.0551C88.9058 38.2111 89.2178 38.2891 89.5967 38.2891C90.0201 38.2891 90.4101 38.1888 90.7667 37.9882C91.1233 37.7877 91.413 37.5091 91.6359 37.1525C91.8811 36.7736 92.0036 36.3502 92.0036 35.8821V25.853C92.0036 24.8501 91.8699 24.1146 91.6025 23.6466C91.335 23.1563 90.8447 22.9111 90.1315 22.9111V22.2091C90.8447 22.2759 91.5356 22.3094 92.2042 22.3094C93.3186 22.3094 94.3549 22.2759 95.3133 22.2091C96.2939 22.1199 97.1965 21.9973 98.0211 21.8413Z"
                      fill="black" />
                  <path id="Vector_8"
                      d="M76.5105 21.741C77.3128 21.741 77.9369 21.9193 78.3826 22.2759C78.8283 22.6102 79.1404 23.0448 79.3186 23.5797C79.4969 24.0923 79.5861 24.6049 79.5861 25.1175C79.5861 26.1204 79.2964 26.9227 78.7169 27.5245C78.1597 28.1039 77.4243 28.3936 76.5105 28.3936C75.5299 28.3936 74.7832 28.1708 74.2706 27.725C73.7803 27.2793 73.5352 26.6998 73.5352 25.9867C73.5352 25.2289 73.6912 24.6049 74.0032 24.1145C74.3375 23.6242 74.7498 23.2119 75.2401 22.8776C74.839 22.8776 74.4824 22.9556 74.1704 23.1116C73.9029 23.2231 73.6466 23.3791 73.4015 23.5797C73.1563 23.7802 72.9446 24.0143 72.7663 24.2817C72.588 24.5269 72.4431 24.8054 72.3317 25.1175C72.2425 25.4295 72.198 25.7526 72.198 26.0869V36.1161C72.198 37.1859 72.4208 37.9102 72.8666 38.2891C73.3123 38.6679 74.0478 38.8574 75.073 38.8574V39.5594C74.5604 39.5371 73.7915 39.5149 72.7663 39.4926C71.7634 39.448 70.727 39.4257 69.6572 39.4257C68.6543 39.4257 67.6403 39.448 66.6151 39.4926C65.5899 39.5149 64.821 39.5371 64.3084 39.5594V38.8574C64.9993 38.8574 65.4784 38.6902 65.7459 38.3559C66.0356 38.0216 66.1805 37.3864 66.1805 36.4504V25.8529C66.1805 24.85 66.0467 24.1145 65.7793 23.6465C65.5119 23.1562 65.0215 22.9111 64.3084 22.9111V22.209C65.0215 22.2759 65.7124 22.3093 66.3811 22.3093C67.4954 22.3093 68.5317 22.2759 69.4901 22.209C70.4707 22.1199 71.3733 21.9973 72.198 21.8413V24.2483C72.4877 23.6688 72.8443 23.2008 73.2677 22.8442C73.6912 22.4653 74.1704 22.1867 74.7052 22.0084C75.2624 21.8301 75.8642 21.741 76.5105 21.741Z"
                      fill="black" />
                  <path id="Vector_9"
                      d="M62.8301 15.8906C62.741 17.2056 62.6741 18.4759 62.6295 19.7017C62.6072 20.9275 62.5961 21.8635 62.5961 22.5099C62.5961 22.9779 62.6072 23.4236 62.6295 23.8471C62.6518 24.2705 62.6741 24.6271 62.6964 24.9169H61.9275C61.4149 22.8219 60.7908 21.1727 60.0554 19.9692C59.3422 18.7657 58.5733 17.9188 57.7487 17.4284C56.9463 16.9158 56.144 16.6595 55.3417 16.6595H55.3082V35.7818C55.3082 36.6955 55.3974 37.3753 55.5757 37.821C55.7763 38.2668 56.144 38.5565 56.6789 38.6902C57.2138 38.8239 57.9938 38.8908 59.019 38.8908V39.5594C58.239 39.5371 57.1803 39.5148 55.8431 39.4926C54.5282 39.4703 53.1464 39.4591 51.6978 39.4591C50.316 39.4591 49.0122 39.4703 47.7864 39.4926C46.5606 39.5148 45.5688 39.5371 44.8111 39.5594V38.8908C45.8363 38.8908 46.6163 38.8239 47.1512 38.6902C47.6861 38.5565 48.0427 38.2668 48.221 37.821C48.4216 37.3753 48.5219 36.6955 48.5219 35.7818V16.6595H48.4884C47.6861 16.6595 46.8726 16.9158 46.048 17.4284C45.2457 17.9188 44.4879 18.7657 43.7747 19.9692C43.0615 21.1504 42.4375 22.7996 41.9026 24.9169H41.1337C41.1783 24.6271 41.2006 24.2705 41.2006 23.8471C41.2229 23.4236 41.234 22.9779 41.234 22.5099C41.234 21.8635 41.2117 20.9275 41.1672 19.7017C41.1449 18.4759 41.0891 17.2056 41 15.8906C42.0698 15.9129 43.251 15.9352 44.5436 15.9575C45.8363 15.9798 47.1289 15.9909 48.4216 15.9909C49.7142 15.9909 50.8843 15.9909 51.9318 15.9909C52.9793 15.9909 54.1493 15.9909 55.442 15.9909C56.7346 15.9909 58.0273 15.9798 59.3199 15.9575C60.6125 15.9352 61.7826 15.9129 62.8301 15.8906Z"
                      fill="black" />
              </g>
          </g>
        </svg>
      </a>
    </div>
    <div class="menu">
      <nav class="navigation">
        {% if linklists.rt-menu %}
          {% for link in linklists.rt-menu %}
            <div class="menu-item {% if link.url == request.path %} current-page {% endif %} ">
              <svg
                width="92"
                height="112"
                viewBox="0 0 92 112"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
                    fill="#363B3E" />
              </svg>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
          {% endfor %}
          {% comment %}
            <div class="menu-item">
              <svg
                width="92"
                height="112"
                viewBox="0 0 92 112"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
                    fill="#363B3E" />
              </svg>
              <a href="#">Services</a>
            </div>
            <div class="menu-item">
              <svg
                width="92"
                height="112"
                viewBox="0 0 92 112"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
                    fill="#363B3E" />
              </svg>
              <a href="#">About Projects</a>
            </div>
            <div class="menu-item">
              <svg
                width="92"
                height="112"
                viewBox="0 0 92 112"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
                    fill="#363B3E" />
              </svg>
              <a href="#">Testimonials</a>
            </div>
          {% endcomment %}
        {% endif %}

        <div class="btn-secondary">
          <a href="">
            Contact Us
            <svg
              width="15"
              height="10"
              viewBox="0 0 15 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M14 5L1 5M14 5L10 9M14 5L10 1" stroke="black" stroke-linecap="round"
                  stroke-linejoin="round" />
            </svg>
          </a>
        </div>
        <div class="theme__toggler" @click="toggleTheme()">
          <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="rt-icon-lamp-2">
                <path id="lamp" fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.47188 0C9.71681 3.23106e-05 9.95322 0.0899562 10.1363 0.252715C10.3193 0.415475 10.4362 0.639749 10.4649 0.883L10.4719 1V2.1L18.6469 10.276C19.2559 10.884 18.8699 11.906 18.0469 11.994L17.9329 12H14.3719C14.1443 13.1105 13.5462 14.1108 12.6757 14.8369C11.8051 15.563 10.7138 15.9719 9.58046 15.9965C8.44713 16.0211 7.33904 15.6601 6.43777 14.9725C5.53651 14.2849 4.89553 13.3116 4.61988 12.212L4.57188 12H1.01188C0.150881 12 -0.298119 11.005 0.220881 10.361L0.297881 10.276L8.47188 2.1V1C8.47188 0.734784 8.57724 0.48043 8.76477 0.292893C8.95231 0.105357 9.20666 0 9.47188 0ZM12.3019 12H6.64188C6.84348 12.5703 7.21271 13.0663 7.70115 13.4231C8.18959 13.7799 8.77444 13.9808 9.37903 13.9994C9.98361 14.018 10.5797 13.8534 11.0892 13.5273C11.5986 13.2012 11.9976 12.7288 12.2339 12.172L12.3019 12Z"
                    fill="black" />
                <path id="ray_1"
                    d="M15.0662 14.6591C14.8232 14.6744 14.5941 14.7778 14.4219 14.95C14.2344 15.1375 14.1291 15.3918 14.1291 15.657C14.1291 15.9222 14.2344 16.1765 14.4219 16.364L15.1289 17.071L15.2229 17.154C15.4239 17.3094 15.6765 17.3825 15.9294 17.3584C16.1823 17.3343 16.4166 17.2148 16.5846 17.0243C16.7527 16.8337 16.8419 16.5863 16.8341 16.3324C16.8264 16.0784 16.7222 15.837 16.5429 15.657L15.8359 14.95L15.7419 14.867C15.5495 14.7178 15.3092 14.6438 15.0662 14.6591Z"
                    fill="black" />
                <path id="ray_2"
                    d="M10.179 17.2929C9.99145 17.1054 9.73709 17 9.47188 17C9.20666 17 8.95231 17.1054 8.76477 17.2929C8.57724 17.4804 8.47188 17.7348 8.47188 18V19C8.47188 19.2652 8.57724 19.5196 8.76477 19.7071C8.95231 19.8946 9.20666 20 9.47188 20C9.73709 20 9.99145 19.8946 10.179 19.7071C10.3665 19.5196 10.4719 19.2652 10.4719 19V18C10.4719 17.7348 10.3665 17.4804 10.179 17.2929Z"
                    fill="black" />
                <path id="ray_3"
                    d="M4.81466 15.657C4.81466 15.3918 4.70935 15.1375 4.52188 14.95C4.33435 14.7625 4.08004 14.6572 3.81487 14.6572C3.54971 14.6572 3.2954 14.7625 3.10787 14.95L2.40087 15.657C2.21872 15.8456 2.11792 16.0982 2.1202 16.3604C2.12248 16.6226 2.22765 16.8734 2.41306 17.0588C2.59846 17.2442 2.84928 17.3494 3.11147 17.3517C3.37367 17.3539 3.62627 17.2532 3.81487 17.071L4.52188 16.364C4.70935 16.1765 4.81466 15.9222 4.81466 15.657Z"
                    fill="black" />
            </g>
          </svg>
        </div>
      </nav>
    </div>
    <div class="menu--mobile" :class="is_menu_opened ? 'opened': ''">
      <nav class="navigation">
        <div class="menu-item current-page">
          <svg
            width="92"
            height="112"
            viewBox="0 0 92 112"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
                fill="#363B3E" />
          </svg>
          <a href="#">Home</a>
        </div>
        <div class="menu-item">
          <svg
            width="92"
            height="112"
            viewBox="0 0 92 112"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
                fill="#363B3E" />
          </svg>
          <a href="#">Services</a>
        </div>
        <div class="menu-item">
          <svg
            width="92"
            height="112"
            viewBox="0 0 92 112"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
                fill="#363B3E" />
          </svg>
          <a href="#">About Projects</a>
        </div>
        <div class="menu-item">
          <svg
            width="92"
            height="112"
            viewBox="0 0 92 112"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M46 0C46 30.928 25.4051 56 0 56C25.4051 56 46 81.072 46 112C46 81.072 66.5949 56 92 56C66.5949 56 46 30.928 46 0Z"
                fill="#363B3E" />
          </svg>
          <a href="#">Testimonials</a>
        </div>
        <div class="menu-item cta">
          <a href="">
            Contact Us
            <svg
              width="15"
              height="10"
              viewBox="0 0 15 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M14 5L1 5M14 5L10 9M14 5L10 1" stroke="black" stroke-linecap="round"
                  stroke-linejoin="round" />
            </svg>
          </a>
        </div>
      </nav>
    </div>
    <div class="theme__toggler theme__toggler--mobile" @click="toggleTheme()">
      <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="rt-icon-lamp-2">
            <path id="Vector" fill-rule="evenodd" clip-rule="evenodd"
                d="M9.47188 0C9.71681 3.23106e-05 9.95322 0.0899562 10.1363 0.252715C10.3193 0.415475 10.4362 0.639749 10.4649 0.883L10.4719 1V2.1L18.6469 10.276C19.2559 10.884 18.8699 11.906 18.0469 11.994L17.9329 12H14.3719C14.1443 13.1105 13.5462 14.1108 12.6757 14.8369C11.8051 15.563 10.7138 15.9719 9.58046 15.9965C8.44713 16.0211 7.33904 15.6601 6.43777 14.9725C5.53651 14.2849 4.89553 13.3116 4.61988 12.212L4.57188 12H1.01188C0.150881 12 -0.298119 11.005 0.220881 10.361L0.297881 10.276L8.47188 2.1V1C8.47188 0.734784 8.57724 0.48043 8.76477 0.292893C8.95231 0.105357 9.20666 0 9.47188 0ZM12.3019 12H6.64188C6.84348 12.5703 7.21271 13.0663 7.70115 13.4231C8.18959 13.7799 8.77444 13.9808 9.37903 13.9994C9.98361 14.018 10.5797 13.8534 11.0892 13.5273C11.5986 13.2012 11.9976 12.7288 12.2339 12.172L12.3019 12Z"
                fill="black" />
            <path id="ray_1"
                d="M15.0662 14.6591C14.8232 14.6744 14.5941 14.7778 14.4219 14.95C14.2344 15.1375 14.1291 15.3918 14.1291 15.657C14.1291 15.9222 14.2344 16.1765 14.4219 16.364L15.1289 17.071L15.2229 17.154C15.4239 17.3094 15.6765 17.3825 15.9294 17.3584C16.1823 17.3343 16.4166 17.2148 16.5846 17.0243C16.7527 16.8337 16.8419 16.5863 16.8341 16.3324C16.8264 16.0784 16.7222 15.837 16.5429 15.657L15.8359 14.95L15.7419 14.867C15.5495 14.7178 15.3092 14.6438 15.0662 14.6591Z"
                fill="black" />
            <path id="ray_2"
                d="M10.179 17.2929C9.99145 17.1054 9.73709 17 9.47188 17C9.20666 17 8.95231 17.1054 8.76477 17.2929C8.57724 17.4804 8.47188 17.7348 8.47188 18V19C8.47188 19.2652 8.57724 19.5196 8.76477 19.7071C8.95231 19.8946 9.20666 20 9.47188 20C9.73709 20 9.99145 19.8946 10.179 19.7071C10.3665 19.5196 10.4719 19.2652 10.4719 19V18C10.4719 17.7348 10.3665 17.4804 10.179 17.2929Z"
                fill="black" />
            <path id="ray_3"
                d="M4.81466 15.657C4.81466 15.3918 4.70935 15.1375 4.52188 14.95C4.33435 14.7625 4.08004 14.6572 3.81487 14.6572C3.54971 14.6572 3.2954 14.7625 3.10787 14.95L2.40087 15.657C2.21872 15.8456 2.11792 16.0982 2.1202 16.3604C2.12248 16.6226 2.22765 16.8734 2.41306 17.0588C2.59846 17.2442 2.84928 17.3494 3.11147 17.3517C3.37367 17.3539 3.62627 17.2532 3.81487 17.071L4.52188 16.364C4.70935 16.1765 4.81466 15.9222 4.81466 15.657Z"
                fill="black" />
        </g>
      </svg>
    </div>
    <div
      class="hamburguer-menu"
      @click="is_menu_opened = !is_menu_opened"
      :class="is_menu_opened ? 'touched' : ''"
    >
      <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="upper-bar">
            <path
                d="M12 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2C0 2.53043 0.210714 3.03914 0.585786 3.41421C0.960859 3.78929 1.46957 4 2 4H12C12.5304 4 13.0391 3.78929 13.4142 3.41421C13.7893 3.03914 14 2.53043 14 2C14 1.46957 13.7893 0.960859 13.4142 0.585786C13.0391 0.210714 12.5304 0 12 0Z"
                fill="black" />
        </g>
        <g id="middle-bar">
            <path
                d="M26 8H2C1.46957 8 0.960859 8.21071 0.585786 8.58579C0.210714 8.96086 0 9.46957 0 10C0 10.5304 0.210714 11.0391 0.585786 11.4142C0.960859 11.7893 1.46957 12 2 12H26C26.5304 12 27.0391 11.7893 27.4142 11.4142C27.7893 11.0391 28 10.5304 28 10C28 9.46957 27.7893 8.96086 27.4142 8.58579C27.0391 8.21071 26.5304 8 26 8Z"
                fill="black" />
        </g>
        <g id="lower-bar">
            <path
                d="M16 16H26C26.5304 16 27.0391 16.2107 27.4142 16.5858C27.7893 16.9609 28 17.4696 28 18C28 18.5304 27.7893 19.0391 27.4142 19.4142C27.0391 19.7893 26.5304 20 26 20H16C15.4696 20 14.9609 19.7893 14.5858 19.4142C14.2107 19.0391 14 18.5304 14 18C14 17.4696 14.2107 16.9609 14.5858 16.5858C14.9609 16.2107 15.4696 16 16 16Z"
                fill="black" />
        </g>
      </svg>
    </div>
  </div>
</header>
