<div class="divsection-01 hero">
  <div class="section-container full">
    <h1>{{ page.title }}</h1>
    <p>{{ page.metafields.custom.project_info.project_name }}</p>
    <p>{{ page.metafields.custom.project_info.area }}</p>
    <img src="{{ page.metafields.custom.project_info.project_thumbnail | image_url }}" alt="">
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Hero Title",
        "default": "Project Hero Section"
    }
  ]
}
{% endschema %}
