<div class="divsection-01 hero">
  <div class="section-container full">
    <div class="info">
        <h1>{{ page.title }}</h1>
        <h2>Metafield: {{ page.metafields.custom.area }}</h2>
        <h2>Metaobject: {{ page.metafields.custom.project_info }}</h2>
        </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Hero Title",
        "default": "Project Hero Section"
    }
  ]
}
{% endschema %}
