<div class="divsection-06">
  <div class="section-container">
    <div class="column-1">
      <p>{{ section.settings.section_06_title }}</p>
      <div class="separator">
        <svg
          width="209"
          height="27"
          viewBox="0 0 209 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line x1="190" y1="13.5" y2="13.5" stroke="#CECECE" />
          <path fill-rule="evenodd" clip-rule="evenodd"
              d="M198 0C198 7.45585 193.075 13.5 187 13.5C193.075 13.5 198 19.5442 198 27C198 19.5442 202.925 13.5 209 13.5C202.925 13.5 198 7.45585 198 0Z"
              fill="white" />
        </svg>
      </div>
      <div class="btn-primary">
        <a href="{{ section.settings.section_06_cta_url }}">{{- section.settings.section_06_cta_text }}</a>
          
          <svg
            width="15"
            height="10"
            viewBox="0 0 15 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M14 5L1 5M14 5L10 9M14 5L10 1" stroke="black" stroke-linecap="round"
                stroke-linejoin="round" />
          </svg>
        </a>
      </div>
    </div>
    <div class="column-2">
      <img src="{{ section.settings.section_06_image |  image_url: width: '1000px' }}" alt="">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section 6",
  "settings": [
    {
      "type": "text",
      "id": "section_06_title",
      "label": "Title",
      "default": "Learn more about our listing process, as well as our additional staging and design work."
    },
    {
      "type": "text",
      "id": "section_06_cta_text",
      "label": "Button Text",
      "default": "Contact Us"
    },
    {
      "type": "url",
      "id": "section_06_cta_url",
      "label": "Button URL"
    },
    {
      "type": "image_picker",
      "id": "section_06_image",
      "label": "Image"
    }
  ],

  "presets": [
    {
      "category": "Section",
      "name": "Section 6"
    }
  ]
}
{% endschema %}
