<div class="divsection-06">
            <div class="section-container">
                <div class="column-1">
                    <p>Learn more about our listing process, as well as our additional staging and design work.</p>
                    <div class="separator">
                        <svg width="209" height="27" viewBox="0 0 209 27" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <line x1="190" y1="13.5" y2="13.5" stroke="#CECECE" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M198 0C198 7.45585 193.075 13.5 187 13.5C193.075 13.5 198 19.5442 198 27C198 19.5442 202.925 13.5 209 13.5C202.925 13.5 198 7.45585 198 0Z"
                                fill="white" />
                        </svg>
                    </div>
                    <div class="btn-primary">
                        <a href="">Contact Us
                            <svg width="15" height="10" viewBox="0 0 15 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M14 5L1 5M14 5L10 9M14 5L10 1" stroke="black" stroke-linecap="round"
                                    stroke-linejoin="round" />
                        </a>
                        </svg>
                    </div>
                </div>
                <div class="column-2">
                    <img src="./assets//img/rt-image-16.webp" alt="">
                </div>
            </div>
        </div>